.filterSidebar{
    width: 26%;
    // border:1px solid gray;
  }
  .carsGridRow{
    // border:1px solid gray;
    width: 80%;
    display:flex;
    justify-content:flex-end;
  }
  .fordSidebarGrid{
    color: #222;
    display:flex;
    flex-direction:row;
    height:600px;
    overflow: scroll;
    width:100%;
    justify-content:center;
    padding-top: 40px;
  }
  .exteriorColor {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    padding-top: 15px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }
  .interiorColor {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    padding-top: 15px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }
  .ext{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  .exterior{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  .interior{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }
  .exteriorSidebar {
    display:flex;
    flex-direction:column;
  }
  .filters{
    position:absolute;
    float:left;
    display:flex;
    flex-direction:column; 
    width:24%;
    flex-grow:1;
    flex-shrink:2;
    border:1px solid gray;
  }
  .intr{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
  }
  .price {
    display:flex;
    flex-direction:column;
  }
  .grid-row{

    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
      
    }
  .carsGrid {
    display:flex;
    flex-direction:column;
      // justify-content:flex-end;
    padding-left: 30px;
    width:82%;
  }
  .carsGridHeader {
      display:flex;
      flex-direction:row;
      justify-content:flex-start;
      justify-content:space-around;
  }
  