<div class="mn">
    <div class="row2">
        <div class="dashboard">
            <b>DASHBOARD</b>
        </div>
        <div class="sort">
                <div class="drop">
                        <select name="MySelect" id="MySelect">
                          <option value="low" >Price-low to high</option>
                          <option value="high">Price-high to low</option>
                        </select>
            </div>
        </div>
    </div>
    <div class="grid-row">
            <div class="cards" ng-repeat="car in cars" | filter: {exteriorColorName}>
                <img class="imges" src="http://build.ford.com/dig/Ford/Mustang/2017/HD-FULL/ + {{car.ImageToken}} + /EXT/1/vehicle.png?r=NaN" height="150px" width="150px" />
                 {{car.Model.Year}} {{car.Model.ModelName}} {{car.Model.Make}} 
                 <div className="card4">
                        {{car.Vin}}|
                        {{car.Pricing.MSRP}}
                          <input class="btn1" type="button" value="VIEW DETAILS" ng-click="viewcardetails(car)"/>
                </div>       
            </div>
    </div>
</div>