.btn1{
    background-color: rgba(21, 109, 13, 0.74)
  }
.imageprice {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    color: #222;
    padding-top: 80px;
}
.carimage {
    display:flex;
    flex-direction:row;
}
.price {
    display:flex;
    flex-direction:row;
}
.pricesummary {
    display:flex;
    flex-direction: column;
    color: #222;
    justify-content: space-around;
}
.summaryheading {
    font-weight: bold;
    font-size: 2em;
}
.vehicleheading {
    font-weight: bold;
    font-size: 2em;
}
.yourvehicle {
    display: flex;
    flex-direction: column;
    color: #222;
    justify-content: space-around;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border:1px solid gray;
    padding-left:50px;
    padding-right: 50px;
    margin: 2px;
}
.summaryvehicle {
    display: flex;
    justify-content: space-around;
    height: 300px;
}
.model {
    font-weight: bold;
    font-size: 1.4em;
}
.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  
  .buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }
  
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54; }
  